.gym-club
{
    color: aqua;
}

.club-container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

/* .total-info
{
    background-color: tomato;
    align-items: center;
    justify-content: center;
} */

.information-details
{

    background-color: #F8EDE3;
    border-radius: 10px;
    margin-right: 45px;

}

.information
{
    display: flex;
    align-items: center;
    text-align: center;


}

.information h3
{
    margin-left: 30px;
}

.information p
{
    color: gray;

}

.fitnes-info
{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
    padding-top: 0;
}

.fitnes-info p
{
    margin-top: -20px;
    color: gray;
}

.circle
{
    display: flex;
    align-items: center;
    width: 40px;
    gap: 15px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}

.circle p
{
    text-align: center;
    margin-left: 6px;
}